body {
  font-family: sans-serif;
  font-size: 15px;
  color:#9A1109;
  background-color:#E2EAF1;
  max-width:45em;
  line-height:1em;
  margin-left:23%;
}
header h6 {
  text-align:left;
}
.contents{
  color:#9A1109;
  text-transform:uppercase;
}
h1 {text-transform: uppercase;
  max-width:10em;
  line-height: 1em;
  font-size:45px;
  font-family: serif;
}
h2 {  font-size:25px;
  color:#CC8484;
  letter-spacing:3px;
}
h3 {
  color:#e1a400;
  text-align: center;
}

h4 {
  font-size:10px;
  text-align: left;
  color:#CC8484;
  line-height:20px;
}
h5 {
  font-size:13px;
  text-align:left;
  line-height:1em;
}
h6 {
  text-align:center;
  font-size:13px;
  text-transform: uppercase;
}
.highlight {
  font-style: italic;
  color:#e1a400;
}
.highlight2 {
  text-transform: uppercase;

}
tbody {
line-height:20px;
}
table h4 {
  font-size:13px;
  line-height:1em;
  text-align:left;
  color:#E2EAF1;
}
table h6 {
font-size:13px;
color:#9A1109;
text-align:left;
}
td {
  font-size:13px;
  line-height:20px;
}


.navigation {
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  background-color:#e1a400;
  overflow-y: scroll;
  width:20%;
  padding-left:13px;
  transform:translateX(-80%);
}
.navigation a {
  color:#E2EAF1;
}
.navigation:hover {
  transform:translateX(0%);
}
a {
  color:#9A1109;
}
a:hover {
  background-color:#E2EAF1;
  padding-left:.2em;
  padding-right:.2em;
  color:#CC8484;
  transition:6ms;
}
@keyframes animation {
  from {
    transform:translateY(100px);
  }
50% {
  transform: translateY(50px);
  }
100% {
  trasnform:translateY(100px);
  }
}
